<% if (request.env['HTTP_USER_AGENT'].downcase.match(/android/) != nil || request.env['HTTP_USER_AGENT'].downcase.match(/iphone/) != nil) %>
<div id="container">
  <div class="main-game" style="background-image: url('<%= @ads[0]['productThumbnail'] %>'); background-size: 125%; background-position: 50% 50%;">
    <div>
      <div class="top-text">Recommended for you</div>
      <div class="image" style="background-image: url('<%= @ads[0]['productThumbnail'] %>')"
           onclick="addClick(0);document.location.href='<%= @ads[0]['clickProxyURL'] %>';">
      </div>
      <div class="name"><%= @ads[0]['productName'] %></div>
      <div class="dl-button" onclick="addClick(0);document.location.href='<%= @ads[0]['clickProxyURL'] %>';">
        <div>
          <img src="/img/android-dl.png"/>

          <div style="float:right">
            <span class="big">Get it now!</span><br/>
            <span style="text-transform: uppercase">Free download</span>
          </div>
        </div>
      </div>
      <div class="stars" style="width: <%= (432 / 5 * @ads[0]['rating'].to_f).round() %>px;">
        <img src="/img/stars.png" style="height: 80%;"/>
      </div>
      <div class="arrow">
        <div></div>
      </div>
    </div>
  </div>
  <div class="more-games">
    <div class="bottom-text">More Cool Downloads:</div>
    <table>
      <tr>
        <% (1..@ads.count-1).each do |i| %>
            <td><a onclick="addClick(<%= i %>);" href="<%= @ads[i]['clickProxyURL'] %>"><img src="<%= @ads[i]['productThumbnail'] %>"/></a></td>
        <% end %>
      </tr>
    </table>
  </div>
</div>
<script>
  function addClick(id){
      var xmlhttp = (window.XMLHttpRequest) ? new XMLHttpRequest() : new ActiveXObject("Microsoft.XMLHTTP");
      xmlhttp.open("GET", "/links/c/" + id, true);
      xmlhttp.send();
  }
</script>
<% end %>